.aboutArea {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4)
}
.aboutMe {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.subTitle {
  display: flex;
}
.aboutText>p {
  height: 70px;
  word-break: break-all;
  white-space: break-spaces;
  text-align: left;
  color: #fff;
}
.aboutTitleIcon {
  font-size: 2rem;
}
