* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.App {
  text-align: center;
  background: linear-gradient(45deg, #222222, #261674, #101866, #2e2880);
  background-size: 4000% 4000%;
  animation: gradient 15s ease-in-out infinite;
  /* border: 1px solid #fff; */
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}
.section {
  display: inline-block;
  width: 100%;
  height: 100vh;
  white-space: nowrap;
}
/* 배경 */
.bg {
  /* width: 2000vw; */
  /* height:  메뉴 높이만큼 빼야 할수도 있음 */
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainTitle {
  /* border: 1px solid #fff; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}
.mainTitle>h1 {
  /* line-height: 9rem; */
  color: #fff;
  letter-spacing: 2.5rem;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.mainTitle>h2 {
  color: #fcff11;
  margin-bottom: 5rem;
  letter-spacing: 0.5rem;
  line-height: 5rem;
}
.scroll {
  position: absolute;
  bottom: 10vh;
  width: 50px;
  height: 100px;
}
.scroll::after {
  content: 'Please scroll down';
  position: absolute;
  top: -3vh;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  opacity: 0.5;
  animation: scrolltitle 5s infinite ease-in-out;
}
.arrowTop,
.arrowBot {
  width: 40px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrowTop {
  animation: scroll 1500ms 680ms infinite linear;
}
.arrowBot {
  animation: scroll 1500ms infinite linear;
}
@keyframes scroll {
  0% {
    top: 10%;
    opacity: 0;
  }
  50% {
    top: 38%;
    opacity: 0.5;
  }
  100% {
    top: 55%;
    opacity: 0;
  }
}
@keyframes scrolltitle {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.topMoveBtn {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
  z-index: 100;
}
.topMoveBtn::before {
  content: 'TOP';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #222;
  font-weight: bold;
}
.topMoveBtn:hover::before{
  color: orange;
}

/* 공통 css */
.title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contentTitle {
  font-size: 4rem;
  /* letter-spacing: 1.2rem; */
  margin: 0;
  padding: 0;
  color: #fff;
}
@media (max-width: 810px) {
  .mainTitle>h1 {
    letter-spacing: 1.5rem;
  }
  .mainTitle>h1>span {
    padding-left: 1.5rem;
  }
}
@media (max-width: 645px) {
  #home {
    overflow: hidden;
  }
  .mainTitle>h1 {
    letter-spacing: 1rem;
    font-size: 3rem;
  }
  .mainTitle>h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .title {
    padding-top: 3rem;
  }
}